node_modules
dist
.env
.vscode
.DS_Store
coverage
npm-debug.log
yarn-error.log
.next
tsconfig.tsbuildinfo
.env.local
.env.production
.env.development
.env.example
.claude
RoadMap.md
PRE-LAUNCH.md
.agents/
.claude/
.continue/
CLAUDE.md
PRE-LAUNCH.md
RoadMap.md
skills-lock.json